.first,
.second,
.third {
  position: absolute;
  height: 100%;
  margin-left: 0;
  -webkit-transform: translateZ(0);
}
html,
body {
  margin: 0px;
  padding: 0px;
  background: #14001c;
}
#wrapper {
  display: block;
}
.mainLogo {
  position: absolute;
  z-index: 10;
  left: 286px;
  top: 40%;
  transform: translateY(-50%);
}
#portfolio {
  height: 430px;
  margin-left: 7475px;
  margin-top: 178px;
  position: absolute;
  width: 755px;
}
#portfolio .right {
  position: absolute;
  width: 50px;
  height: 40px;
  margin-top: 194px;
}
#portfolio .left {
  position: absolute;
  width: 50px;
  height: 40px;
  margin-top: 194px;
  margin-left: 703px;
}
.work img {
  margin-left: 13px;
}
#portfolio .wrapper {
  height: 426px;
  margin-left: 100px;
  overflow: hidden;
  padding-left: 17px;
  padding-top: 21px;
  position: absolute;
  width: 543px;
}
#portfolio .work {
  display: inline-block;
  height: 124px;
  padding-top: 10px;
  width: 185px;
}
#works {
  position: absolute;
  height: 426px;
  width: 3200px;
  margin-left: -25px;
}
#player {
  height: 426px;
  margin-left: 5345px;
  margin-top: 107px;
  position: absolute;
  width: 200px;
}
#play.fr,
#pause.fr {
  margin-top: 40px;
  cursor: pointer;
}
#play {
  margin-left: -15px;
}
#play.sc,
#pause.sc {
  margin-top: 120px;
  cursor: pointer;
}
#pause {
  margin-left: -15px;
  display: none;
}
#play.th,
#pause.th {
  margin-top: 200px;
  cursor: pointer;
}
#play.fth,
#pause.fth {
  margin-top: 280px;
  cursor: pointer;
}
#play.ff,
#pause.ff {
  margin-top: 360px;
  cursor: pointer;
}
#pause {
  margin-left: -15px;
  margin-top: 245px;
  cursor: pointer;
}
#controls {
  position: fixed;
  display: flex;
  gap: 30px;
  bottom: 0;
  z-index: 100;
  left: 254px;
  bottom: 68px;
}
#controls img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#preloader {
  background: url('loading.gif') center center no-repeat #0b000c;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#equalizer {
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 28px;
  height: 10px;
  overflow: hidden;
}
.audio-container {
  overflow: hidden;
  display: inline-block;
  width: 28px;
  height: 12px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.audio-container.audioOff {
  height: 2px;
}
.audio-container img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
